main {
  flex-grow: 1;
  flex-shrink: 1;
}
.AppMain {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ===============Header============= */

.header_button {
  margin-left: auto;
  margin-right: 0;
}
.header_button a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
.header_button a:hover {
  border-bottom: 2px solid white;
}
.header_button .active {
  border-bottom: 2px solid white;
  color: white;
}
.exitBtn {
  color: white;
  cursor: pointer;
}
.exitBtn:hover {
  border-bottom: 2px solid white;
}

/* ==============Registration================== */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_reg {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
form .title_form {
  width: 100%;
  text-align: center;
}
.App-label {
  font-size: 18px;
}
.form-control::placeholder {
  font-size: 14px;
}
.form-check {
  display: flex !important;
}
.form-check-input {
  margin-right: 10px;
}
form #submit {
  border: none;
  background-color: white;
  border: 1px solid gray;
  color: black;
  min-width: 50%;
  height: 40px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}
form #submit:hover {
  transform: scale(1.03);
}
.loading-spinner {
  margin-left: auto;
  margin-right: auto;
}

/* ==============LogIn form================== */

.form_login {
  margin-top: 100px;
}

/* ==============AboutUserComp================== */

.AboutUserPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.AbUsInfoCont {
  min-width: 280px;
  flex: 1 1 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.editForm {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  padding: 20px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
  border: 1px solid black;
}
.wrappAbEdUsForm {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  padding-right: 20px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}
.userInfo {
  display: flex;
  flex-direction: column;
  height: 250px;
  /* border: 1px solid black; */
  padding: 20px;
}
.wrapperAboutUserInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}
.icon {
  cursor: pointer;
  user-select: none;
}
.icon:hover {
  color: blue;
}
.iconWrapper {
  margin-left: 10px;
}
.nameRow {
  font-weight: 500;
  margin-bottom: 5px;
}
.nameObject {
  font-weight: 400;
  margin-left: 5px;
}
.newPassBtn {
  border: 1px solid gray;
  margin-top: 5px;
  background-color: white;
  width: fit-content;
  padding: 2px;
}
.newPassBtn:hover {
  background-color: rgb(240, 240, 240);
}

/* ==============AdminPageComp================== */

.searchWrapper {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 10px 10px 0 10px;
  padding: 10px;
  /* height: 4vw; */
}
.adminBtnWrapper {
  display: flex;
  width: 100%;
}
/* .searchBlock {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
} */

/* ========Рядок пошуку============*/

.searchForm {
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px;
}
.searchForm div {
  display: flex;
  width: 100%;
  position: relative;
}
#formBasicSearch {
  width: 100%;
}
.searchInput {
  min-width: 70%;
}
.clear-search {
  position: absolute;
  top: 12px;
  right: 10px;
}
.returnAllUsers {
  margin-left: 10px;
}
.searchUserBtn {
  margin-left: 10px;
  min-width: 30%;
}

/* ===========Картка користувача AdminPageComp======== */

.allUsersBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.tableUsers {
  max-width: 100%;
}
.headTable {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}
th {
  padding: 5px;
  /* text-align: center; */
}
.tBody :nth-child(1) {
  border-bottom: none;
}

tr :nth-child(7) {
  min-width: 330px;
}
tr {
  cursor: pointer;
}
.selected {
  border: 2px solid orange;
}
td {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.notFoundUserMessage {
  color: red;
}
.headRow {
}
/* .userInfoAdmin {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 20px;
} */
/* .nameRowCard {
  font-weight: 500;
  margin-bottom: 5px;
}
.valueRowCard {
  font-weight: 400;
  margin-left: 10px;
}
.underlineRow {
  margin-top: 5px;
  margin-bottom: 5px;
}*/
.adminBtnWrapper {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.DeleteBtn {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  margin-left: 20px;
}
.EditBtn {
  background-color: white;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  margin-left: 20px;
}
.AddBtn {
  background-color: white;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
}

/* ===========Пагінація AdminPageComp======== */
.paging {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  overflow-x: auto;
}
.activePagin {
  border: 3px solid gray;
  font-weight: 500;
  background-color: white;
  border-radius: 3px;
  margin: 0 5px 0 5px;
}
.notActivePagin {
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
  margin: 0 5px 0 5px;
}

/* ===========Форма редагування користувача AdminPageComp======== */

.wrapperEditForm {
}
.form_EditForAdmin {
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
  width: 100%;
}
#submitNewDataBtn {
  display: none;
}
.modalSendForm {
  width: 100%;
  margin-bottom: 10px;
}
.modalCancel {
  width: 100%;
}
.wrappCheckAdmin {
  margin-right: 20px;
}
.loading-spinner {
  margin-left: auto;
  margin-right: auto;
}
.errorRoles {
  color: red;
}
.confirmEdit {
  color: orange;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
/* ================Footer======================= */

.Footer {
  display: flex;
}
.infoFooterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footerText {
  color: white;
  font-size: 20px;
}

/* ================otherComponents======================= */

.errorMessage {
  margin-left: auto;
  margin-right: auto;
  color: red;
}
