main {
  flex-grow: 1;
  flex-shrink: 1;
}
.AppMain {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ===============Header============= */

.header_button {
  margin-left: auto;
  margin-right: 0;
}
.header_button a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
.exitBtn {
  color: white;
  cursor: pointer;
}

/* ==============Registration================== */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_reg {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
form .title_form {
  width: 100%;
  text-align: center;
}
.App-label {
  font-size: 18px;
}
.form-control::placeholder {
  font-size: 14px;
}
.form-check {
  display: flex !important;
}
.form-check-input {
  margin-right: 20px;
}
form #submit {
  border: none;
  background-color: white;
  border: 1px solid gray;
  color: black;
  min-width: 50%;
  height: 40px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}
form #submit:hover {
  transform: scale(1.03);
}
.loading-spinner {
  margin-left: auto;
  margin-right: auto;
}

/* ==============Registration================== */

.form_login {
  margin-top: 100px;
}

/* ==============AboutUserComp================== */

.AboutUserPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.AbUsInfoCont {
  min-width: 280px;
  flex: 1 1 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.editForm {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  padding: 20px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
  border: 1px solid black;
}
.wrappAbEdUsForm {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  padding: 20px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}
.userInfo {
  display: flex;
  flex-direction: column;
  height: 250px;
  /* border: 1px solid black; */
  padding: 20px;
}
.wrapperAboutUserInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}
.icon {
  cursor: pointer;
  user-select: none;
}
.iconWrapper {
  margin-left: 10px;
}
.nameRow {
  font-weight: 500;
  margin-bottom: 5px;
}
.nameObject {
  font-weight: 400;
  margin-left: 5px;
}
.newPassBtn {
  margin-top: 5px;
  width: fit-content;
  padding: 2px;
}

/* ==============AdminPageComp================== */

.searchWrapper {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 10px 10px 0 10px;
  padding: 10px;
  /* height: 4vw; */
}
/* .searchBlock {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
} */
.searchForm {
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px;
}
.searchForm div {
  display: flex;
  width: 100%;
}
#formBasicSearch {
  width: 100%;
}
.searchInput {
  min-width: 70%;
}
.searchUserBtn {
  margin-left: 10px;
  min-width: 30%;
}

/* ===========Картка користувача AdminPageComp======== */

.allUsersBlock {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.userInfoAdmin {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 20px;
}
.nameRowCard {
  font-weight: 500;
  margin-bottom: 5px;
}
.valueRowCard {
  font-weight: 400;
  margin-left: 10px;
}
.adminBtnWrapper {
  margin-top: 30px;
}
.DelUserAdmin {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 20px;
}
.EditUserAdmin {
  background-color: white;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
}

/* ===========Форма редагування користувача AdminPageComp======== */

.form_EditForAdmin {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
#submitNewDataBtn {
  width: 100%;
}
/* ================Footer======================= */

.Footer {
  display: flex;
}
.infoFooterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footerText {
  color: white;
  font-size: 20px;
}

/* ================otherComponents======================= */

.errorMessage {
  margin-left: auto;
  margin-right: auto;
  color: red;
}
