main {
  flex-grow: 1;
  flex-shrink: 1;
}
.AppMain {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
}
.appInMAINapp {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ===============Header============= */

.headerContainer {
  min-width: 100% !important;
  display: flex;
  justify-content: center !important;
}

.headerStyle {
  background-color: #e2e0e0;
}
.navbar-toggler {
  color: #004c5d !important;
  background-color: #004c5d !important;
  box-shadow: none !important;
}
.collapse.show {
  /* max-width: 50%; */
  min-height: 100% !important;
}
.header_button {
  display: flex;
  /* justify-content: space-between !important; */
  align-items: center;
  width: 100%;
  padding-left: 50px;
}
.header_button a {
  height: fit-content !important;
  color: #004c5d;
  text-decoration: none;
  /* margin-top: auto;
  margin-bottom: auto; */
  padding: 0;
  font-weight: 500;
}
.header_button a:hover {
  /* border-bottom: 2px solid #004c5d; */
  background-color: #d6d4d4;
  padding: 0;
}
.header_button .active {
  /* margin-top: auto;
  margin-bottom: auto; */
  padding: 0;
  /* border-bottom: 2px solid #004c5d; */
  background-color: #d6d4d4;
  color: #004c5d;
}
.enterStyle {
  background-color: #004c5d !important;
  color: white !important;
  border-bottom: 0 !important;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px 3px 10px !important;
}
.enterStyle:hover {
  background-color: #004c5dc5 !important;
}
.enterStyle .active {
  padding: 10px !important;
}
.exitBtn {
  color: #004c5d;
  cursor: pointer;
}
/* .exitBtn:hover {
  border-bottom: 2px solid #004c5d;
} */
.dropSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  padding-left: 3px;
}
.dropSelect a {
  padding: 0;
  width: fit-content;
  color: #004c5d !important;
}
.dropSelect .active {
}
.nav-item.show {
  color: #004c5d !important;
}
.dropdown-toggle::after {
  color: #004c5d;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  /* background-color: #e2e0e0; */
  color: #004c5d;
  /* border: 1px solid grey; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin-top: 14px;
  min-height: 120px;
  border-radius: 0;
}
.mailUser {
  margin-bottom: 10px;
}
/* =================================SideMenu========================== */
.leftSideMenu {
  display: flex;
  flex-direction: column;
  background-color: #e2e0e0;
  padding-top: 10px;
  width: 50px;
  min-height: 100%;
  overflow-x: hidden;
  /* position: absolute;
  left: 0;
  top: 50px; */
  transition: all 0.2s ease-in;
  z-index: 1;
}
.sideMenuName {
  display: none;
  color: #004c5d;
  text-decoration: none;
  font-weight: 500;
}
.sideMenuName:hover {
  background-color: #d6d4d4;
}
.leftSideMenu:hover {
  width: 200px;
  height: 100%;
  position: sticky;
  left: 0;
  top: 59px;
}
.sideMenuRow {
  display: flex;
  padding: 10px;
  color: #004c5d;
  text-decoration: none;
  font-weight: 500;
}
.sideMenuRowDown {
  font-size: 8px;
  color: #004c5d;
  font-weight: 500;
  border: none;
  overflow-y: none;
}
.sideMenuRow:hover {
  background-color: #d6d4d4;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .headerContainer {
    justify-content: space-between !important;
  }
  .header_button {
    display: flex;
    align-items: normal;
    padding-left: 0;
  }
  .dropSelect {
    padding-left: 0;
  }
  .dropdown-menu.show {
    padding-top: 5px;
    background-color: #e2e0e0;
    margin-top: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    min-height: fit-content;
    box-shadow: none;
  }
  .mailUser {
    margin-bottom: 3px;
  }
  .exitBtn {
    margin-top: auto;
    margin-left: auto;
    width: fit-content;
  }
  .leftSideMenu {
    position: static;
    width: fit-content;
    padding-top: 0;
    height: 25px;
    background-color: #e2e0e0;
    overflow-y: hidden;
  }
  .leftSideMenu:hover {
    cursor: pointer;
  }
  .sideMenuName {
    display: block;
    width: fit-content;
  }
  .sideMenuRow {
    padding: 0;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  .iconSideMenu {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .dropSelect {
    margin-right: 10px !important;
  }
  #root {
    min-width: 280px !important;
  }
  .exitBtn {
    padding: 5px !important;
  }
}

/* ==============Registration================== */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_reg {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.wrappTextLink {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .title_form {
  width: 100%;
  text-align: center;
}
.App-label {
  font-size: 16px;
}
.form-control::placeholder {
  font-size: 14px;
}
.form-check {
  display: flex !important;
}
.form-check-input {
  margin-right: 10px;
}
form #submit {
  border: none;
  background-color: #004c5d;
  border: 1px solid #004c5d;
  color: white;
  min-width: 50%;
  height: 40px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  /* transition: all 0.5s ease; */
}
form #submit:hover {
  background-color: #004c5dbe;
}
.registerLoadingConfirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 18px;
  font-weight: 500;
}
.loading-spinner {
  margin-left: auto;
  margin-right: auto;
}
.exitMailWrap {
  display: flex;
  margin-left: auto;
}
.mailUser {
  color: rgb(55, 55, 255);
}
@media screen and (max-width: 768px) {
  .form_reg {
    width: 70%;
  }
  .exitMailWrap {
    margin-left: 0;
    justify-content: space-between;
  }
  .header_button a {
    width: fit-content;
  }
}

@media screen and (max-width: 576px) {
  .form_reg {
    width: 100%;
  }
}
/* ==============LogIn form================== */
.Login {
  height: 100%;
}
.form_login {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* ==============Home page and Comp================== */
.HomePage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==============AboutUserComp================== */

.AboutUserPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.AbUsInfoCont {
  min-width: 280px;
  flex: 1 1 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.editForm {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* width: 50%; */
  padding: 20px;
  margin-bottom: 10px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
  border: 1px solid black;
}
.closeForm {
  position: absolute;
  top: 0;
  right: 0;
}
.wrappAbEdUsForm {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  padding-right: 20px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}
.userInfo {
  display: flex;
  flex-direction: column;
  height: 250px;
  /* border: 1px solid black; */
  padding: 20px;
}
.wrapperAboutUserInfo {
  display: flex;
  flex: 1 1 auto;
}
.userTitle {
  display: flex;
  flex-direction: column;
}
.userValue {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.wrappValueIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
}

.icon {
  cursor: pointer;
  user-select: none;
}
.icon:hover {
  color: blue;
}
.iconWrapper {
  margin-left: 10px;
  /* margin-bottom: 2px; */
}
.nameRow {
  font-weight: 500;
  margin-bottom: 5px;
}
.nameObject {
  font-weight: 400;
}
.wrappValueIconPassword {
  justify-content: end;
}
/* .newPassBtn {
  border: 1px solid #004c5d;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #004c5d;
  color: white;
  width: fit-content;
  padding: 2px;
}
.newPassBtn:hover {
  background-color: #004c5dc4;
} */
.userFormBtn {
  background-color: #004c5d !important;
  border: #004c5d;
}
.userFormBtn:hover {
  background-color: #004c5dcc !important;
}
@media screen and (max-width: 576px) {
  .userInfo {
    padding: 5px;
  }
  .wrappValueIcon {
    display: flex;
  }
  .nameRow {
    font-size: 14px;
    margin-bottom: 9px;
  }
  .nameObject {
    font-size: 14px;
  }
}

/* ==============Add Form Admin================== */

.rolesWrap {
  flex-wrap: wrap;
}
/* ==============AdminPageComp================== */

.searchWrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 10px 10px 0 10px;
  padding: 10px;
  /* height: 4vw; */
}

/* .searchBlock {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
} */

/* ========Рядок пошуку============*/

.searchForm {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px;
}
.searchForm div {
  display: flex;
  width: 100%;
  position: relative;
}
#formBasicSearch {
  width: 100%;
}
.searchBtnWrapp {
  width: fit-content !important;
}
.searchInput {
  min-width: 100px;
}
/* .clear-search {
  position: absolute;
  top: 12px;
  right: 10px;
} */
.searchBtnWrapp {
  display: flex;
  align-items: center;
}
.deleteTextIcon {
  cursor: pointer;
  margin-left: 10px !important;
  padding: 4px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.deleteTextIcon:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.searchUserBtn {
  margin-left: 10px;
  margin-bottom: 3px;
  padding: 5px !important;
  height: fit-content;
  width: 35px;
  background-color: white;
  border: none;
  border-radius: 50%;

  /* min-width: 30%; */
}
.searchUserBtn.btn-primary:active {
  background-color: white;
  transition: none;
}
.searchUserBtn:hover {
  background-color: white;
  /* box-shadow: 0px 7px 4px -4px rgba(0,0,0,0.75); */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 768px) {
  .searchBtnWrapp {
    width: fit-content !important;
  }
  /* .returnAllUsers {
    margin-left: 20px!important;
    padding: 2px !important;
  } */
  .searchUserBtn {
    /* padding: 0 !important; */
    /* width: fit-content!important; */
  }
}
@media screen and (max-width: 576px) {
  .searchForm {
    flex-wrap: nowrap;
    padding: 0;
  }
  .searchBtnWrapp {
    /* margin-top: 10px; */
    width: fit-content !important;
    justify-content: center;
  }
  /* .returnAllUsers {
    margin: 0 !important;
    max-width: 150px !important;
  } */
  .searchUserBtn {
    /* padding: 2px !important;
    width: 40px !important; */
    /* margin-left: 50px; */
  }
}
@media screen and (max-width: 350px) {
  .searchUserBtn {
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }
  .searchUserIcon {
    width: 18px;
    height: 18px;
    margin-bottom: 8px;
  }
  .deleteTextIcon {
    margin-left: 5px !important;
    width: 28px;
    height: 28px;
  }
}
/* ======================Картка користувачів AdminPageComp=================== */

.adminBtnWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

/* .DeleteBtn {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  margin-left: 20px;
}
.EditBtn {
  background-color: white;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  margin-left: 20px;
}
.AddBtn {
  background-color: white;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
} */
.btnAfter768 {
  margin-right: 15px;
  border-radius: 50%;
  padding: 2px;
}
.btnAfter768:hover {
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
}
.addGreenCircle {
  border: 2px solid green;
}
.addGreenCircle:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.activeCircleEdit {
  border: 2px solid orange;
}
.activeCircleEdit:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.activeCircleDelete {
  border: 2px solid Red;
}
.activeCircleDelete:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 768px) {
  /* .adminBtnWrapper {
    justify-content: center;
  } */
  .DeleteBtn,
  .EditBtn {
    padding: 2px;
    margin-left: 10px;
  }
  .AddBtn {
    padding: 2px;
    margin-left: 0;
  }
}
.AdminPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrappAdmPage {
  flex: 1 1 auto;
}
.allUsersBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.tableUsers {
  max-width: 100%;
}
.headTable {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}
th {
  padding: 5px;
  /* text-align: center; */
}
.tBody :nth-child(1) {
  border-bottom: none;
}

tr :nth-child(7) {
  min-width: 330px;
}
tr {
  cursor: pointer;
}
tr:hover {
  background-color: #daeaea;
}
.selected {
  border: 2px solid orange;
  background-color: #daeaea;
}
td {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.notFoundUserMessage {
  color: red;
}
.headRow {
}

/* ===============================Modal Windows AdminPageComp======== */

/* ===========Delete Modal AdminPageComp======== */

.cancelDeleteBtn {
  background-color: #4a585e;
  border: none;
}
.cancelDeleteBtn:hover {
  background-color: #616c70;
}
.confirmDeleteBtn {
  background-color: #004c5d;
  border: none;
}
.confirmDeleteBtn:hover {
  background-color: #004c5dc4;
}

/* ===========Edit Modal AdminPageComp======== */

.modalSendForm {
  width: 100%;
  background-color: #004c5d;
  border: none;
}
.modalSendForm:hover {
  background-color: #004c5dc4;
}
.modalCancel {
  width: 100%;
  background-color: #4a585e;
  border: none;
}
.modalCancel:hover {
  background-color: #616c70;
}

/* ===========Форма редагування користувача AdminPageComp======== */

.wrapperEditForm {
}
.editFormBtns {
  display: flex;
}
.addFormBtns {
  display: flex;
}
.inputId input[type="text"]:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.form_EditForAdmin {
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
  width: 100%;
}
#submitNewDataBtn {
  display: none;
}
.wrappCheckAdmin {
  margin-right: 20px;
}
.loading-spinner {
  margin-left: auto;
  margin-right: auto;
}
.errorRoles {
  color: red;
}
.confirmEdit {
  color: orange;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

/* ===========Пагінація AdminPageComp======== */
.paging {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  overflow-x: auto;
}
.activePagin {
  border: 2px solid gray;
  font-weight: 500;
  background-color: white;
  border-radius: 3px;
  margin: 0 5px 0 5px;
}
.notActivePagin {
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
  margin: 0 5px 0 5px;
}
/* ================Footer======================= */

.Footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
}
.footerStyle {
  background-color: #e2e0e0;
  z-index: 2;
}
.rowFooter {
}
.callMe {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.kyivstar {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.footNumber {
  font-size: 14px;
  font-weight: 500;
}
.workTime {
  font-size: 14px;
  padding: 0 10px 0 10px;
  margin-bottom: 5px;
}
.workMail {
  font-weight: 500;
}
.questionBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.questionLink {
  color: black;
  font-size: 16px;
  font-weight: 400;
}
.warningPost {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Programs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .colStyle {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .colStyle {
    padding-bottom: 25px;
  }
}

/* ================otherComponents======================= */

.errorMessage {
  margin-left: auto;
  margin-right: auto;
  color: red;
}
